always-auth=true
registry=https://domoreexp.pkgs.visualstudio.com/_packaging/npm-mirror/npm/registry
cache="/usr/local/share/.cache/npm"
 
//domoreexp.pkgs.visualstudio.com/_packaging/npm-mirror/npm/registry/:username=${NODE_AUTH_NAME}
//domoreexp.pkgs.visualstudio.com/_packaging/npm-mirror/npm/registry/:_password=${NODE_AUTH_TOKEN} 
//domoreexp.pkgs.visualstudio.com/_packaging/npm-mirror/npm/:username=${NODE_AUTH_NAME}
//domoreexp.pkgs.visualstudio.com/_packaging/npm-mirror/npm/:_password=${NODE_AUTH_TOKEN} 
 